#logo p {
    font-family: 'Archivo Black', sans-serif;
    font-size: 3.2em;
    position: relative;
}

#logo .pro {
    font-family: 'Dancing Script', cursive;
    color: red;
    font-size: 1.5em;
    position: relative;
    top: 5px;
    left: -12px;
}

#logo {
    text-align: center;
    text-shadow: 1px 1px 2px #333;
}

#drop_zone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.device {
    display: inline-block;
    width: 49%;
}

#gcp_wrapper {
    width: 70%;
    margin: 0 auto;
}

#buttons_wrapper {
    text-align: center;
    margin-bottom: 16px;
}

.tab-content {
    padding: 4px;
}

.device form {
    margin-left: 16px;
}

.deviceProgramChanges {
    border: 1px dashed #ddd;
    padding: 2px;
}

.preset {
    margin-bottom: 4px;
}

.preset_device_change {
    margin-left: 4px;
    margin-right: 8px;
}

.preset_device_change:last-of-type {
    margin-right: 2px;
}